/* GoogleFonts: Rye */

/* latin-ext */
@font-face {
    font-family: 'Rye';
    font-style: normal;
    font-weight: 400;
    src: local('Rye Regular'), local('Rye-Regular'), url(https://fonts.gstatic.com/s/rye/v8/r05XGLJT86YzH57tbOo.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Rye';
    font-style: normal;
    font-weight: 400;
    src: local('Rye Regular'), local('Rye-Regular'), url(https://fonts.gstatic.com/s/rye/v8/r05XGLJT86YzEZ7t.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --red: #991717;
  --darkred: #cd071e;
}

.swade.sheet.actor .charname {
    font-family: Rye;
}

.swade.sheet:not(.minimized)::after {
    content: '';
    width: 100px;
    height: 100px;
    background: url("../images/blood-splatter.png") bottom center no-repeat;
    background-size: 100px 100px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    opacity: 0.33;
    z-index: 0;
    pointer-events: none;
}

.swade.sheet.item .sheet-body .header-field,
.swade.sheet.actor.character .inventory .items-list .item-header,
.swade.sheet.actor .sheet-body .header-field {
  font-family: Rye;
  background: var(--red);
  border: 1px solid transparent;
  border-radius: 4px;
  color : white;
}
.swade.sheet .window-content {
  background: #faf9ed;
  background-image: url("../images/parchment.jpg");
}
.swade.sheet .tabs {
    font-family: Rye;
    border-color: var(--red) !important;
}
.swade.sheet .tabs .item {
  background: var(--red) !important;
  color : white;
  border-color: var(--red) !important;
}
.swade.sheet .tabs .item:hover, .swade.sheet .tabs .item:focus {
  background: var(--darkred) !important;
  border-color: var(--darkred) !important;
}
.swade.sheet .tabs .item.active {
  background: var(--darkred) !important;
  color : white;
  border-color: var(--darkred) !important;
}
.swade.sheet input[type=text]{
    background: rgba(0, 0, 0, 0.1);
}
.swade.sheet .checkmark {
  background-color: rgba(0, 0, 0, 0.2);
}
.swade.sheet .check-container:hover input ~ .checkmark {
  background-color: var(--red);
}
.swade.sheet .check-container input:checked ~ .checkmark {
  background-color: var(--red);
}
.swade.sheet .check-container .checkmark:after {
  border: solid white;
  border-width: 0 3px 3px 0;
}
.swade.sheet.actor .sheet-body .editor {
  border: 1px groove #FFFFFF;
}
.swade.sheet.actor .sheet-body .attributes .attributes-list .attribute input {
    background: rgba(0, 0, 0, 0.1);
}
.swade.sheet.actor .sheet-body .gear .gear-list .gear-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.swade.sheet.actor .sheet-body .gear .gear-list .gear-card .card-header {
  background: rgba(0, 0, 0, 0.1);
}
.swade.sheet.actor .sheet-body .gear .gear-list .gear-card .card-content {
  border-top: 1px solid #FFFFFF;
  background: rgba(255, 255, 255, 0.05);
  border-color: rgba(0, 0, 0, 0.1);
}
.swade.sheet.actor .sheet-body .gear .gear-list .gear-card .chips .chip .chip-content {
  background-color: var(--red);
}
.swade.sheet.actor .sheet-body .powers input[type=text]{
    background: rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: bold;
}
.swade.sheet.actor .powers .arcane-tabs .arcane {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.1);
}
.swade.sheet.actor .powers .arcane-tabs .arcane:hover, .swade.sheet.actor .powers .arcane-tabs .arcane:focus {
  background: rgba(0, 0, 0, 0.2);
  text-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.swade.sheet.actor .powers .arcane-tabs .arcane.active {
  background: var(--darkred);
  border: 1px solid rgb(130, 0, 0);
}

.swade.sheet.actor .sheet-body .powers input[type=text]::placeholder{
    color: rgba(255, 255, 255, 0.75);
}

.swade.sheet.actor .sheet-body .powers .powers-list .power {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.swade.sheet.actor .sheet-body .powers .powers-list .power .power-header {
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.swade.sheet.actor.character .vitals .bennies .benny-tracker .bennies-current {
  background: rgba(0, 0, 0, 0.1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid rgba(179, 175, 155, 1);
}
.swade.sheet.actor.character .vitals .bennies .benny-tracker .bennies-max {
  background: rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.swade.sheet.actor .inventory .inventory-categories .item-titles {
    background: #000000;
}